body {
    background-image: url(https://i.imgur.com/oOSosgn.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    border: 0;
}

#passwordContainer {
    text-align: center;
    padding: 20px;
    border: 6px solid #ddd;
    border-radius: 8px;
    background-color:aquamarine;
}

#passwordInput {
    padding: 10px;
    margin-bottom: 10px;
    transition: transform ease 1s ;
}

#passwordInput:hover{
    transform: scaleY(1.2);
}

#submitButton {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

#wrongpass {
    visibility:hidden;
    position: relative;
    font:italic;
    top: -10px;
    left: -30px;
    color: red;
}

#logopic{
    height: 12rem;
    width: 12rem;
    left: 40%;  
    top: 2rem;
    border: solid 5px aquamarine;
    background-image: url(https://i.imgur.com/l6v3x9a.jpg);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    display: block;
}